.navbar-nav > li{
  margin-left: 20px;
  margin-right:10px;
  font-size: 18px;
}

.center {
text-align: center;
}

.upload-input-group {
    margin-bottom: 10px;
}
.input-group>.custom-select:not(:last-child) {
  height: 45px;
}
.input-group>.form-control:not(:last-child) {
  height: 45px;
}

.btn-upload {
    padding: 10px 20px;
    margin-left: 10px;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #1c7430;
}

tr.hide-table-padding td {
  padding: 0 !important;
}

.expand-button {
  position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}
.hiddenRow {
    padding: 0 !important;
}

.clickable {
  cursor: pointer !important;
}