<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Safe JS</title>

	<!-- CSS -->
	<link type="text/css" href="/static/external/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">



	<link type="text/css" href="/static/external/notyf/notyf.min.css" rel="stylesheet">

	<link type="text/css" href="/static/css/volt/volt.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/toastr/toastr.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">

	<!-- JS -->
	<script src="/static/external/jquery/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
	<script src="/static/js/external/aris.js"></script>
	<script src="/static/js/external/loadingoverlay.min.js"></script>

	<script src="/static/external/@popperjs/core/dist/umd/popper.min.js"></script>
	<script src="/static/external/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/static/external/onscreen/dist/on-screen.umd.min.js"></script>
	<script src="/static/external/nouislider/distribute/nouislider.min.js"></script>
	<script src="/static/external/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	<script src="/static/external/chartist/dist/chartist.min.js"></script>
	<script src="/static/external/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
	<script src="/static/external/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
	<script src="/static/external/sweetalert2/dist/sweetalert2.all.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
	<script src="/static/external/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
	<script src="/static/external/notyf/notyf.min.js"></script>
	<script src="/static/external/simplebar/dist/simplebar.min.js"></script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script src="/static/js/external/toastr/toastr.min.js"></script>

	<script src="/static/js/external/volt.js"></script>
	
	
	<script src="/static/js/init.js"></script>

	<script src="/static/js/layout/helper.js"></script>
	<script src="/static/js/layout/nav.js"></script>
	<script src="/static/js/layout/banner.js"></script>
	<script src="/static/js/layout/footer.js"></script>
	
	<script src="/static/js/layout/pages/dashboard.js"></script>
	<script src="/static/js/layout/pages/recent.js"></script>
	<script src="/static/js/layout/pages/analysis.js"></script>
	<script src="/static/js/layout/pages/settings.js"></script>
	<script src="/static/js/layout/pages/error.js"></script>

	<script src="/static/js/main.js"></script>

</head>
<body>
	



</body>
</html>