<!DOCTYPE html>
<html lang="en">

<head>
	 <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Safe JS</title>

	<!-- CSS -->
	<link rel="stylesheet" href="/static/external/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/external/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/static/external/adminlte/adminlte.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="static/css/toastr/toastr.min.css">
	<link rel="stylesheet" href="/static/external/adminlte/Chart.min.css">

	<!-- JS -->
	<script src="/static/external/jquery/jquery.min.js"></script>
	<script src="/static/js/external/aris.js"></script>
	<script src="/static/js/external/toastr/toastr.min.js"></script>
	<script src="/static/js/external/loadingoverlay.min.js"></script>

	<script src="/static/external/adminlte/adminlte.min.js"></script>
	<script src="/static/js/external/chart.min.js"></script>
	<script src="/static/external/bootstrap/js/bootstrap.bundle.min.js"></script>

	<script src="/static/js/init.js"></script>
	
	<script src="/static/js/layout/nav.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/layout/footer.js"></script>

</head>
<body>
</body>
</html>